<div class="col-xs-4">
	<div class="panel">
    	<div class="panel-heading" style={{heading-color}}> {{title}} </div>
        <div class="panel-body" style={{body-color}}> {{body}} </div>
        <div class="panel-footer text-center" style={{footer-color}}> {{username}} </div>
    </div>
</div>