<div class="col-xs-4"  data-toggle="modal" data-target="#thread-modal">
	<div class="panel" style="border-color:{{borderColor}};">
    	<div class="panel-heading" style="background-color:{{titleColor}};"> {{title}} </div>
        <div class="panel-body" style="background-color:{{bodyColor}};"> {{body}} </div>
        <div class="panel-footer text-center" style="background-color:{{footerColor}};"> Posted by: {{user}} </div>
    </div>
</div>
